{% extends "base.html" %}

{% block content %}
    <h1>Hello, {{ current_user.researcher_name }}!</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        
        <p>
            {{ form.date.label }}<br>
            {{ form.date() }}<br>
            {% for error in form.date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.instrument_name.label }}<br>
            {{ form.instrument_name() }}<br>
            {% for error in form.instrument_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.product_type.label }}<br>
            {{ form.product_type() }}<br>
            {% for error in form.product_type.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        
        <p>
            {{ form.trade.label }}<br>
            {{ form.trade(rows=4, cols=32) }}<br>
            {% for error in form.trade.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        {{ form.submit() }}
    </form>
    {% if results %}
        <h2>Profitability of Researchers You Follow (Last 3 Months)</h2>
        <table>
            <tr>
                <th>Researcher</th>
                <th>Total PnL</th>
            </tr>
            {% for row in results %}
                <tr>
                    <td>{{ row[1] }}</td> {# row[1] = researcher_name #}
                    <td>{{ row[2] }}</td> {# row[2] = total_pnl #}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No Profitability results found.</p>
    {% endif %}
{% endblock %}