<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('main.researcher', researcher_name=post.author.researcher_name) }}">
                <img src="{{ post.author.avatar(70) }}" />
            </a>
        </td>
        <td>
            {% set researcher_link %}
                <a href="{{ url_for('main.researcher', researcher_name=post.author.researcher_name) }}">
                    {{ post.author.researcher_name }}
                </a>
            {% endset %}
            {{ _('%(researcher_name)s said %(when)s',
                researcher_name=researcher_link, when=moment(post.timestamp).fromNow()) }}
            <br>
            <span id="post{{ post.id }}">
                {{ post.body }}
            </span>
            {% if post.language and post.language != g.locale %}
            <br><br>
            <span id="translation:{{ post.id }}">
                <a href="javascript:translate(
                    'post{{ post.id }}',
                    'translation{{ post.id }}',
                    '{{ post.language }}',
                    '{{ g.locale }}');">{{ _('Translate') }}</a>
            </span>
            {% endif %}
        </td>
    </tr>
</table>